/* 通用卡片样式 */
.card {
    min-height: 300px; /* 设置卡片的高度 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    border: none; /* 去掉边框 */
}

/* 渐变背景色 */
.gradient-bg-blue {
    background: linear-gradient(135deg, #A6E1FA, #69B9E3);
}

.gradient-bg-yellow {
    background: linear-gradient(135deg, #FFED98, #FFC847);
}

.gradient-bg-pink {
    background: linear-gradient(135deg, #FFAFC5, #FF9AA2);
}

/* 图标样式 */
.icon-container {
    margin: 20px 0;
}

.icon {
    width: 60px;
    height: 60px;
}

/* 文本样式 */
.card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    font-size: 1rem;
    margin: 0;
}