<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.css">
</head>
<body>
    <div id="app" class="container text-center">
        <!-- 设计一个手机UI 页面布局 -->
        <div class="row mb-5">
            <div class="col">我的考勤</div>
            <div class="col">手机打卡</div>
            <div class="col">请假</div>
            <div class="col">外出</div>
        </div>
        <div class="row">
            <div class="col">
                补卡
            </div>
            <div class="col">
               发起审批
            </div>
            <div class="col">
               审批记录
            </div>
        </div>




        <!-- 结束一个手机UI 页面布局 -->



       
        <!-- 一 -->
        <div class="row mb-2">
            <!-- row 行 col 列 列的宽度 -->
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label for="" class="form-control">上班时间</label><br>
                <input type="text" v-model="start_time" class="form-control"><br>  
            </div>
           
        </div>
        <!-- 二 行  控制每一行的长度-->
        <div class="row mb-2">
            <!--  -->
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label for="" class="form-control">下班时间</label><br>
                <input type="text" v-model="end_time" class="form-control"><br>

            </div>
            <!-- 一列 二列 -->
            
        </div>
       <!-- 三行  三列 -->
        <div class="row mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button @click="Fgets()" class="btn btn-success">计算工时</button>
                <p> {{result}}</p>
            </div>
          
        </div>
       
    </div>
    <script src="./vue.js"></script>
    <script src="./vue_computer.js"></script>
</body>
</html>